.inputContainer {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-self: left;
  justify-content: start;
}

.boxsizingBorder {
  width: 100%;
  height: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snippetsDiv {
  display: flex;
  flex-direction: row;
}

.modalDiv {
    display: flex;
    flex-direction: column;
}
.inputClass {
    margin: 5px;
}

.margin {
    margin: 5px;
}
